@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/bootstrap.scss";

/*
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300;400&display=swap');

.cls-fonts{
    font-family: 'Libre Baskerville', serif, 'Source Sans Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:ital,wght@0,300;1,400&display=swap');

.cls-fonts{
    font-family: 'Libre Baskerville', serif, 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@400;500&display=swap');

.cls-fonts{
    font-family: 'Roboto', 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.cls-fonts{
    font-family: 'Quicksand', sans-serif;
}
*/
