<main class="m-5 pt-1">

    <section class="my-5 mt-5 row justify-content-md-left" [formGroup]="formGrupos">
        <header class="col-10">
            <h1 class="h1">Administrador de Grupos</h1>
        </header>
        <div class="col-2 justify-content-center">
            <button type="button" class="btn btn-block cls-btnAgregar rounded-pill shadow-sm" (click)="crear()">
                <i class="h2 bi bi-plus-square"></i>
            </button>
        </div>
    </section>

    <section class="mb-5">
        <form [formGroup]="formGrupos">
            <div class="row register-form">

                <div class="col-md-6">
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" formControlName="id" readonly
                            placeholder="Id" />
                    </div>
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" formControlName="capacidadEstudiantes"
                            placeholder="Capacidad Estudiantes" required />
                    </div>
                    <div class="form-group py-1">
                        <select class="form-select rounded-pill" placeholder="Docente" required
                            formControlName="docenteId">
                            <option value="" disabled selected hidden>Docente</option>
                            <option *ngFor="let d of listaDocentes" value="{{d.id}}">{{d.noIdentificacion}} -
                                {{d.apellidosUsuario}}, {{d.nombresUsuario}} [{{d.rol}}]</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group py-1">
                        <input type="text" class="form-control rounded-pill" formControlName="codigoGrupo"
                            placeholder="Código Grupo" required />
                    </div>
                    <div class="form-group py-1">
                        <select class="form-select rounded-pill" required placeholder="Asignatura"
                            formControlName="asignaturaId">
                            <option value="" disabled selected hidden>Asignatura</option>
                            <option *ngFor="let a of listaAsignaturas" value="{{a.id}}">
                                {{a.codigoAsignatura}} - {{a.nombreAsignatura}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group py-1">
                        <input readonly type="text" class="form-control rounded-pill" formControlName="fechaCreacion"
                            placeholder="Fecha Creación" />
                    </div>
                </div>

            </div>

            <div class="row justify-content-center py-3">
                <button *ngIf="modoCrud == 'crear'" (click)="postGrupo()"
                    class="btn btn-outline-success rounded-pill mx-1 cls-button-1">
                    Registrar Programa
                </button>
                <button *ngIf="modoCrud == 'actualizar'" (click)="patchGrupo()"
                    class="btn btn-outline-success rounded-pill mx-1 cls-button-1">
                    Editar Programa
                </button>
                <button (click)="limpiarFormulario()" class="btn btn-outline-danger rounded-pill mx-1 cls-button-1">
                    Limpiar
                </button>
            </div>
        </form>
    </section>

    <section class="m-0 p-0">
        <table class="table table-responsive-md table-hover mt-1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th scope="col" class="text-center">Código</th>
                    <th scope="col" class="text-center">Capacidad Estudiantes</th>
                    <th scope="col" class="text-center">Docente Id</th>
                    <th scope="col" class="text-center">Asignatura Id</th>
                    <th scope="col" class="text-center">Fecha de Creacion</th>
                    <th scope="col" class="text-center">Acciones</th>
                    <th scope="col" class="text-center">Info</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let g of listaGrupos">
                    <td>1</td>
                    <td scope="row">{{g.codigoGrupo}}</td>
                    <td scope="row">{{g.capacidadEstudiantes | number}}</td>
                    <td scope="row">{{g.docenteId}}</td>
                    <td scope="row">{{g.asignaturaId}}</td>
                    <td scope="row">{{g.fechaCreacion | date}}</td>
                    <td scope="row" class="text-center">
                        <a type="button" class="mx-1 text-warning" (click)="actualizar(g)">
                            <i class="h4 bi bi-pencil-square"></i>
                        </a>
                        <a type="button" class="mx-1 text-danger" (click)="deleteGrupo(g)">
                            <i class="h4 bi bi-trash"></i>
                        </a>
                    </td>
                    <td scope="col" class="text-center">
                        <a type="button" class="mx-1 text-secondary" (click)="open(content)">
                            <i class="h4 bi bi-info-square"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</main>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header cls-modal-header-bg">
        <h4 class="modal-title" id="modal-basic-title">Información del Grupo</h4>
        <button type="" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">
                <i class="bi bi-x-lg"></i>
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">

            <h5 class="card-header">Grupo ## / Asignatura</h5>
            <div class="card-body">
                <div *ngFor="let g of listaGrupos">
                    <p class="card-text">
                        <strong>Docente: </strong>
                        <span>{{g.asignaturaId}}</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="card mt-5">
            <h5 class="card-header">Estudiantes Registrados</h5>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cerrar</button>
    </div>
</ng-template>